@{ 
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>ContosoU</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to ContosoU</h2>
        <p>
            ContosoU is a sample app that demos how to use Entitiy Framework
            Core in an ASP.NET Core MVC web application
        </p>
    </div>
    <div class="col-md-4">
        <h2>Build it from scratch</h2>
        <p>You can build the app by following the steps in a series of tutorials.</p>
        <p><a class="btn btn-default" href="https://github.com/aspnet/Docs/tree/master/aspnet/data/ef-mvc/intro/samples/cu-final">See project source</a></p>
    </div>
    <div class="col-md-4">
        <h2>Build it from scratch</h2>
        <p>You can build the app by following the steps in a series of tutorials.</p>
        <p><a class="btn btn-default" href="https://github.com/aspnet/Docs/tree/master/aspnet/data/ef-mvc/intro/samples/cu-final">See project source</a></p>
    </div>
</div>